
body {
	background-color: #26262c;
}


/* buttons */

.white-btn {
	background-color: #ffffff;
	color: #26262c;
	text-align: center;
	padding: 1rem 1.3rem;
	font-weight: bold;
	border-radius: 5px;
	border: 0;
}

.transparent-btn {
	background-color: transparent;
	color: #ffffff;
	text-align: center;
	padding: 1rem 1rem;
	font-weight: bold;
	border-radius: 5px;
	border: 0;
}

@media only screen and (max-width: 599px) {

	.white-btn {
		padding: 0.5rem 0.7rem;
		font-size: 12px;
	}

	.transparent-btn {
		padding: 0.5rem;
		font-size: 12px;
	}

}

.white-link {
	color: white;
	transition: color .3s;
	font-weight: bold;
}

@media (hover: hover) {

	.white-link:hover {
		color: #ff4d16;
	}

}

.white-link:active {
	color: #ff4d16;
}

.load-more-btn {
	padding: 1.5rem 4rem;
	background-color: white;
	color: #26262c;
	position: relative;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	border-radius: 2px;
	display: block;
	margin: 3rem auto 0;
}

.load-more-btn-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	transition: all .3s;
	z-index: -1;
}

@media (hover: hover) {

	.load-more-btn:hover .load-more-btn-bg {
		-webkit-transform: scaleX(1.2);
		transform: scaleX(1.2);
	}

}	

.load-more-btn:active .load-more-btn-bg {
	-webkit-transform: scaleX(1.2);
	transform: scaleX(1.2);
}

/* the-end-of-buttons */



/* head-simple-slider */

#headSimpleSlider {
	margin-top: 0;
	height: 37vw;
	border-bottom: 3px solid #36363c;

}

#headSimpleSlider .fl-simple-slider-list {
	padding: 0.5rem 1.5rem 0.5rem;
}	

#headSimpleSlider .simple-slide-img {
	width: 100%;
	height: auto;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

#headSimpleSlider .fl-simple-slider-slide::before {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(26,27,27,.4);
}

#headSimpleSlider .simple-slider-con {
	padding: 50px;
	border: 0.5rem solid rgba(62, 61, 59, 0.5);
	background-color: rgba(26,27,27,0.8);
	width: 50%;
	text-align: center;
	position: relative;
	z-index: 2;
}

#headSimpleSlider .simple-slider-title {
	color: white;
	white-space: normal;
	text-align: left;
	margin: 200px 0 0 50px;
	font-weight: bold;
	transition: color .3s;
	position: relative;
	z-index: 8;
}

@media (hover: hover) {

	#headSimpleSlider .simple-slider-title:hover {
		color: #ff4d16;
	}

}

#headSimpleSlider .simple-slider-title:active {
	color: #ff4d16;
}

.fl-simple-slider-list {
	top: auto;
	bottom: 0;
}

.fl-simple-slider-btn {
	position: relative;
	overflow: hidden;
	padding: 0;
	width: 5vw;
	height: 8vw;
}

.fl-simple-slider-btn::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(38, 38, 44, 0.5);
	transition: background-color .3s;
}

.fl-simple-slider-btn.fl-active::before {
	background-color: rgba(38, 38, 44, 0);
}

.simple-slider-btn-img {
	 width: 100%;
	 height: auto;
	 min-height: 100%; 
}

.simple-slider-watch-now-btn {
	padding: 1.5rem 2.5rem;
	background-color: #ff4d16;
	color: white;
	position: relative;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
}

.simple-slider-watch-now-btn span {
	padding: 0.4rem;
	border-radius: 1rem;
	color: #ff4d16;
	background-color: white;
	margin-left: 0.5rem;
}

.simple-slider-watch-now-btn-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ff4d16;
	transition: all .3s;
	z-index: -1;
}

@media (hover: hover) {

	.simple-slider-watch-now-btn:hover .simple-slider-watch-now-btn-bg {
		-webkit-transform: scaleX(1.2);
		transform: scaleX(1.2);
	}

}	

.simple-slider-watch-now-btn:active .simple-slider-watch-now-btn-bg {
	-webkit-transform: scaleX(1.2);
	transform: scaleX(1.2);
}

#headSimpleSlider .fl-simple-slider-length {
	top: 120px;
	right: 30px;
}

.simple-slider-length-dot {
	background-color: white;
	height: 3px;
	width: 3px; 
	border-radius: 50%;
	margin: 0 5px 0;
}

#headSimpleSlider .fl-simple-slider-length-index {
	color: #ff4d16;
}

.simple-slider-title-icon {
	color: #ff4d16;
	margin-right: 0.5rem;
	display: none !important;
}

#headSimpleSlider .fl-simple-slider-slide .simple-slider-watch-now-btn {
	margin-top: 1rem;
	margin-left: 20px;
	padding: 1rem;
}

#headSimpleSlider .fl-simple-slider-arrow {
	top: 60%;
}

@media only screen and (max-width: 1024px) {

	.fl-simple-slider-list {
		display: none;
	}	

	.simple-slider-title-icon {
		display: inline-block !important;
	}

	#headSimpleSlider {
		height: 430px;

	}

	#headSimpleSlider .simple-slide-img {
		width: auto;
		height: 100%;
		min-width: 100%;
	}

	#headSimpleSlider .simple-slider-title {
		margin: 240px 0 0 20px;
	}

	#headSimpleSlider .fl-simple-slider-length {
		top: auto;
		right: 20px;
		bottom: 20px;
	}

	#headSimpleSlider .fl-simple-slider-arrow {
		top: 40%;
	}

}

/* the-end-of-head-simple-slider */



/* post-slider */

.post-slider {
	width: 100%;
	margin: 2.5rem auto 0;
	overflow: hidden;
}

.post-slider-track,
.post-slider-head {
	width: 90%;
	margin: auto;
	position: relative;
}

.post-slider-track {
	border-bottom: 3px solid #36363c;
	padding-bottom: 1rem;
}

.fl-slick-overflow-visible .post-slider-track::before,
.fl-slick-overflow-visible .post-slider-track::after {
	content: " ";
	position: absolute;
	height: 100%;
	width: 6%;
	top: 0;
	left: -6%;
	background: linear-gradient(-270deg,#26262d 50%,rgba(38,38,45,.9) 60%,rgba(38,38,45,0)); 
	z-index: 5;
}

.fl-slick-overflow-visible .post-slider-track::after {
	left: auto;
	right: -6%;
	background: linear-gradient(-270deg,#26262d 50%,rgba(38,38,45,.9) 60%,rgba(38,38,45,0));
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}

.post-slider-haed-title-link {
	font-size: 24px;
}

.post-slider-more-link {
	width: 27px;
}

.post-slider-more-link-dot {
	display: inline-block;
	width: 7px;
	height: 7px;
	border-radius: 50%; 
	background-color: white;
	position: relative;
	transition: background-color .3s;
}

.post-slider-more-link-dot::after,
.post-slider-more-link-dot::before {
	content: " ";
	position: absolute;
	top: 0;
	right: -10px;
	width: 7px;
	height: 7px;
	border-radius: 50%; 
	background-color: white;
	transition: background-color .3s;
}

.post-slider-more-link-dot::after {
	right: -20px;
}

@media (hover: hover) {

	.post-slider-more-link:hover .post-slider-more-link-dot,
	.post-slider-more-link:hover .post-slider-more-link-dot::after,
	.post-slider-more-link:hover .post-slider-more-link-dot::before {
		background-color: #ff4d16;
	}

}

.post-slider-link {
	height: 20vw;
	overflow: hidden;
	border: 1px solid #36363c;
	box-sizing: content-box;
	position: relative;
	display: block;
	width: calc(100% - 2px);
}

.post-slider-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(38, 38, 44, 0.5);
	transition: opacity .3s;
	opacity: 0;
}

.post-slider-overlay-icon {
	color: white;
	width: 70px;
	height: 70px;
	text-align: center;
	left: calc(50% - 35px);;
	position: relative;
	top: calc(50% - 35px);
	border: 3px solid white;
	border-radius: 50%;
	display: -ms-flexbox !important;
	display: flex !important;
	justify-content: center;
	-ms-flex-pack: center;	
	align-content: center;
	-ms-flex-line-pack: center;
	align-items: center;
  	-ms-flex-align: center;
  	transition: all .5s;
	box-sizing: border-box;
	opacity: 0;
}

.post-slider-overlay-btn {
	padding: 0.5rem;
	text-align: center;
	color: white;
	transition: color .3s;
	position: absolute;
	top: auto;
	left: 5%;
	right: 5%;
	bottom: -100px; 
	width: 90%;
	margin: 0 auto 0;
	box-sizing: border-box;
	background-color: rgba(38, 38, 44, 0.8);
	cursor: pointer;
	transition: bottom .3s;
}

@media (hover: hover) {

	.post-slider-link:hover .post-slider-overlay,
	.post-slider-link:hover .post-slider-overlay-icon {
		opacity: 1;
	}

	.post-slider-overlay-icon:hover {
		-webkit-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
		color: #ff4d16;
		border-color: #ff4d16;
	}

	.post-slider-link:hover .post-slider-overlay-btn {
		bottom: 0.5rem;
	}

	.post-slider-overlay-btn:hover {
		color: #ff4d16;
	}

}	

.post-slider-link:active .post-slider-overlay,
.post-slider-link:active .post-slider-overlay-icon {
	opacity: 1;
}


.post-slider-overlay-btn:active {
	color: #ff4d16;
}

.post-slider-img {
	display: block;
	width: 100%;
	height: auto;
	min-height: 100%;
}

.post-slider-title {
	margin-top: 0.8rem;
	width: 100%;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.post-slider-date {
	color: hsla(0,0%,100%,.5);
	margin: 1.3rem 0 0;
}

.post-slider-genre {
	margin: 0;
	color: hsla(0,0%,100%,.5);
}

.post-slider .slick-slide {
  margin: 0 4px;
}

.post-slider .slick-slide .slick-list {
  margin: 0 -4px;
}

.post-slider .slick-arrow::before {
	opacity: 0;
	width: 25px;
	height: 25px;
	color: #26262c;
	top: 38%;
	background-color: white;
	font-size: 12px;
  	transition: all 0.3s ease;
  	z-index: 6;
}

.fl-slick-arrows .slick-prev::before {
	left: -12.5px;
}

.fl-slick-arrows .slick-next::before {
	right: -12.5px;
}

.post-slider:hover .slick-arrow::before {
	opacity: 1;
}

@media (hover: hover) {

	.post-slider .slick-arrow:hover::before {
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}

}

.post-slider .slick-arrow:active::before {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

@media only screen and (max-width: 1024px) {

	.post-slider-title {
		font-weight: normal;
	    font-size: 14px;
	    line-height: 24px;
	    letter-spacing: .5px;
	    color: #fff;
	    transition: color .3s;
	}

	.post-slider-date,
	.post-slider-genre {
		display: none;
	}

	.post-slider-link {
		height: 40vw;
	}

	.post-slider .slick-slide {
	  margin: 0 2px;
	}

	.post-slider .slick-slide .slick-list {
	  margin: 0 -2px;
	}

	.post-slider-haed-title-link {
		font-size: 16px;
	}

}	

/* the-end-of-post-slider */




